---
import Layout from "$layouts/Layout.astro";
---

<Layout title="주식 가격 예측">
  <div class="h-12 w-full border-b border-slate-200">
    <div class="container">
      <h1>Hello World!</h1>
    </div>
  </div>
  <main class="flex justify-center">Hello</main>
</Layout>
